.btn-holder {
   
    padding: auto;
    display: block;
    
   
}
.btn-holder .connectbutton{
    height: 3.5em;
    color:white;
    width: 8em;
    font-size: large;
    justify-content: center;
    justify-items: center;
    background-color: teal;
    
}

.container{
    
   float:right;
   display: flex;
   background-color: darkgrey;

}
.inputBox{
  display: flex;
  justify-content: center;
  margin: 2rem;
  border: 2px solid black;
}

.nftDisplay{
  display: flex;
  justify-content: center;
  margin: 2rem;
  border: 2px solid black;
}
